



/*Global Styles
-------------------------------*/
body {
	color: #2D3332;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
img {
	width: 300px;
}
a {
	color: #F4F7F7;
}
a:hover {
	text-decoration: none;
}
h1{
	font-size: 60px;
	line-height: 1;
}
h2{
	font-size: 30px;
}
h1, h2 {
	font-family: 'Ibarra Real Nova', serif;
	font-weight: 400;
	margin: 0;
}
.content-wrap {
	max-width: 800px;
	width: 85%;
	margin: 0 auto;
	padding: 60px 0;
}
h3 {
	margin-bottom: 0;
}
.item-details h3 + p {
	font-style: italic;
}
.item-details h3 ~ p {
	margin: 0;
}
.divider > section {
	border-bottom: 1px dashed #2D3332;
	padding: 25px 0;
}
.divider > section:last-of-type {
	border-bottom: none;
}

/*Profile
-------------------------------*/
header {
	background: #456B56;
	color: #F4F7F7;
	text-align: left;
}


/*Projects
-------------------------------*/
.projects{
	background: #A8DDAF;
}
.projects a {
	color: #2D3332;
}

.projects .btn {
	color: #F4F7F7;
	background: #456B56;
	text-decoration: none;
	padding: 8px;
	border-radius: 4px;
	display: inline-block;
}
.projects .btn:hover {
	background: rgba(69, 107, 86, 80%);
}
.project-item {
	overflow: hidden;
}
.project-item h3{
	margin-top: 0;
}
/*Work Experience
-------------------------------*/
.work-experience{
	background: #C2F9D2;
}

/*Education
-------------------------------*/
.education{
	background: #A8DDAF;
}


/*Contact Info
-------------------------------*/
footer{
	background-image: "nolanarrow.png";
	background-size: cover;
	background-position: top right;
	padding-top: 300px;
	padding-bottom: 100px;
	color: #F4F7F7;

}

.contact-list {
	list-style-type: none;
	padding: 0;
}
.contact-list a {
	padding: 15px;
	display: inline-block;
}

.contact-list p{
	width:60%;
}

/*Responsive
-------------------------------*/
@media screen and (min-width:750px){
	footer{
		text-align: center;
	}
	.project-item img {
	float: left;
	margin-right: 20px;
	}
	.job-item{
	display: grid;
	grid-template-columns: 2fr 3fr;
	column-gap: 20px;
	}
	.contact-list{
	display: flex;
	justify-content: center;
	}
}

@media screen and (max-width:749px){
	h1 {
		font-size: 40px;
		}
	h1, h2 {
		line-height: 1;
		}
	.contact-list a{
		padding: 5px;
		}
	}

